[user]
  name = Pablo Gutiérrez del Castillo
  email = pablogutierrezdelc@gmail.com

[core]
  excludesfile = /Users/mool/.gitignore_global

[alias]
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  l = log --decorate --stat --graph --pretty=format:'%C(yellow)%h%Creset (%aD - %ar - %Cred%an%Creset), %s%n'
  ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  gh = "!open `git remote -v | awk '/fetch/{print $2}' | sed -Ee 's#(git@|git://)#http://#' -e 's@com:@com/@'`"
  recent = for-each-ref --sort=committerdate refs/heads/ --format=' %(color:blue) %(authorname) %(color:yellow)%(refname:short)%(color:reset)'
  cleanup = "!git branch --merged | grep -v '\\*\\|master' | xargs git branch -d"

[push]
  default = current

[branch]
  autosetuprebase = always
