[user]
  name = Pablo Gutiérrez del Castillo
  email = pablogutierrezdelc@gmail.com
  signingkey = 9C781E902ACBCB30E87D0379CD82D3B7C810023F

[core]
  excludesfile = /Users/mool/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RX

[alias]
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  l = log --decorate --stat --graph --pretty=format:'%C(yellow)%h%Creset (%aD - %ar - %Cred%an%Creset), %s%n'
  lc = log --format="%H" -n 1
  lcs = log --format="%h" -n 1
  ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  recent = for-each-ref --sort=committerdate refs/heads/ --format=' %(color:blue) %(authorname) %(color:yellow)%(refname:short)%(color:reset)'
  cleanup = "!git branch --merged | grep -v '\\*\\|master' | xargs git branch -d"
  delete-squashed = "!f() { local targetBranch=${1:-master} && git checkout -q $targetBranch && git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d && git for-each-ref refs/heads/ \"--format=%(refname:short)\" | while read branch; do mergeBase=$(git merge-base $targetBranch $branch) && [[ $(git cherry $targetBranch $(git commit-tree $(git rev-parse $branch^{tree}) -p $mergeBase -m _)) == \"-\"* ]] && git branch -D $branch; done; }; f"
  mb = "!git branch -r | grep 'HEAD ->' | awk -F'/' '{print $3}'"
  prm = "!git pull --rebase origin $(git mb)"
  com = "!git checkout $(git mb)"
  url = "!git config --get remote.origin.url | sed -e \"s/.*@github.com:/https:\\/\\/github.com\\//\" -e \"s/\\.git$//\""
  gh = !open $(git url)
  ghp = !open $(git url)/tree/$(git symbolic-ref --short HEAD)/$GIT_PREFIX

[push]
	default = simple
	autoSetupRemote = true

[branch]
  autosetuprebase = always
	sort = -committerdate

[color]
  ui = true

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

[diff-so-fancy]
  markEmptyLines = false
  stripLeadingSymbols = false

[url "git@github.com:"]
  insteadOf = https://github.com/
  insteadOf = git://github.com/

[init]
  defaultBranch = master

[commit]
  gpgsign = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[rebase]
	autoStash = true
[pull]
	rebase = true
